<svg width="648" height="68">
         
         <polygon points="9 17 1 13 1 21"></polygon>
         <polygon points="17 17 9 13 9 21"></polygon>
         <rect x="31" y="3" width="54" height="32" rx="10"></rect>
         <rect x="29" y="1" width="54" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="39" y="21">CASE</text>
         <a xlink:href="sql-grammar.html#a_expr" xlink:title="a_expr">
            <rect x="125" y="35" width="64" height="32"></rect>
            <rect x="123" y="33" width="64" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="133" y="53">a_expr</text>
         </a>
         <a xlink:href="sql-grammar.html#when_clause_list" xlink:title="when_clause_list">
            <rect x="229" y="3" width="128" height="32"></rect>
            <rect x="227" y="1" width="128" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="237" y="21">when_clause_list</text>
         </a>
         <rect x="397" y="35" width="52" height="32" rx="10"></rect>
         <rect x="395" y="33" width="52" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="405" y="53">ELSE</text>
         <a xlink:href="sql-grammar.html#a_expr" xlink:title="a_expr">
            <rect x="469" y="35" width="64" height="32"></rect>
            <rect x="467" y="33" width="64" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="477" y="53">a_expr</text>
         </a>
         <rect x="573" y="3" width="48" height="32" rx="10"></rect>
         <rect x="571" y="1" width="48" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="581" y="21">END</text>
         <path class="line" d="m17 17 h2 m0 0 h10 m54 0 h10 m20 0 h10 m0 0 h74 m-104 0 h20 m84 0 h20 m-124 0 q10 0 10 10 m104 0 q0 -10 10 -10 m-114 10 v12 m104 0 v-12 m-104 12 q0 10 10 10 m84 0 q10 0 10 -10 m-94 10 h10 m64 0 h10 m20 -32 h10 m128 0 h10 m20 0 h10 m0 0 h146 m-176 0 h20 m156 0 h20 m-196 0 q10 0 10 10 m176 0 q0 -10 10 -10 m-186 10 v12 m176 0 v-12 m-176 12 q0 10 10 10 m156 0 q10 0 10 -10 m-166 10 h10 m52 0 h10 m0 0 h10 m64 0 h10 m20 -32 h10 m48 0 h10 m3 0 h-3"></path>
         <polygon points="639 17 647 13 647 21"></polygon>
         <polygon points="639 17 631 13 631 21"></polygon>
      </svg>