<svg width="554" height="216">
         
         <polygon points="9 61 1 57 1 65"></polygon>
         <polygon points="17 61 9 57 9 65"></polygon>
         <rect x="51" y="47" width="100" height="32" rx="10"></rect>
         <rect x="49" y="45" width="100" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="59" y="65">RETURNING</text>
         <a xlink:href="sql-grammar.html#a_expr" xlink:title="a_expr">
            <rect x="211" y="47" width="64" height="32"></rect>
            <rect x="209" y="45" width="64" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="219" y="65">a_expr</text>
         </a>
         <rect x="315" y="79" width="38" height="32" rx="10"></rect>
         <rect x="313" y="77" width="38" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="323" y="97">AS</text>
         <a xlink:href="sql-grammar.html#col_label" xlink:title="col_label">
            <rect x="373" y="79" width="74" height="32"></rect>
            <rect x="371" y="77" width="74" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="381" y="97">col_label</text>
         </a>
         <rect x="315" y="123" width="62" height="32" rx="10"></rect>
         <rect x="313" y="121" width="62" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="323" y="141">IDENT</text>
         <rect x="211" y="167" width="28" height="32" rx="10"></rect>
         <rect x="209" y="165" width="28" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="219" y="185">*</text>
         <rect x="191" y="3" width="24" height="32" rx="10"></rect>
         <rect x="189" y="1" width="24" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="199" y="21">,</text>
         <path class="line" d="m17 61 h2 m20 0 h10 m100 0 h10 m40 0 h10 m64 0 h10 m20 0 h10 m0 0 h142 m-172 0 h20 m152 0 h20 m-192 0 q10 0 10 10 m172 0 q0 -10 10 -10 m-182 10 v12 m172 0 v-12 m-172 12 q0 10 10 10 m152 0 q10 0 10 -10 m-162 10 h10 m38 0 h10 m0 0 h10 m74 0 h10 m-162 -10 v20 m172 0 v-20 m-172 20 v24 m172 0 v-24 m-172 24 q0 10 10 10 m152 0 q10 0 10 -10 m-162 10 h10 m62 0 h10 m0 0 h70 m-276 -76 h20 m276 0 h20 m-316 0 q10 0 10 10 m296 0 q0 -10 10 -10 m-306 10 v100 m296 0 v-100 m-296 100 q0 10 10 10 m276 0 q10 0 10 -10 m-286 10 h10 m28 0 h10 m0 0 h228 m-316 -120 l20 0 m-1 0 q-9 0 -9 -10 l0 -24 q0 -10 10 -10 m316 44 l20 0 m-20 0 q10 0 10 -10 l0 -24 q0 -10 -10 -10 m-316 0 h10 m24 0 h10 m0 0 h272 m-476 44 h20 m476 0 h20 m-516 0 q10 0 10 10 m496 0 q0 -10 10 -10 m-506 10 v134 m496 0 v-134 m-496 134 q0 10 10 10 m476 0 q10 0 10 -10 m-486 10 h10 m0 0 h466 m23 -154 h-3"></path>
         <polygon points="545 61 553 57 553 65"></polygon>
         <polygon points="545 61 537 57 537 65"></polygon>
      </svg>