<svg width="608" height="234">
         
         <polygon points="11 17 3 13 3 21"></polygon>
         <polygon points="19 17 11 13 11 21"></polygon>
         <rect x="33" y="3" width="44" height="32" rx="10"></rect>
         <rect x="31" y="1" width="44" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="41" y="21">SET</text>
         <rect x="97" y="3" width="82" height="32" rx="10"></rect>
         <rect x="95" y="1" width="82" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="105" y="21">SESSION</text>
         <rect x="45" y="69" width="146" height="32" rx="10"></rect>
         <rect x="43" y="67" width="146" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="53" y="87">CHARACTERISTICS</text>
         <rect x="211" y="69" width="38" height="32" rx="10"></rect>
         <rect x="209" y="67" width="38" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="219" y="87">AS</text>
         <rect x="269" y="69" width="118" height="32" rx="10"></rect>
         <rect x="267" y="67" width="118" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="277" y="87">TRANSACTION</text>
         <a xlink:href="sql-grammar.html#transaction_iso_level" xlink:title="transaction_iso_level">
            <rect x="407" y="69" width="154" height="32"></rect>
            <rect x="405" y="67" width="154" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="415" y="87">transaction_iso_level</text>
         </a>
         <rect x="45" y="113" width="118" height="32" rx="10"></rect>
         <rect x="43" y="111" width="118" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="53" y="131">TRANSACTION</text>
         <a xlink:href="sql-grammar.html#transaction_mode_list" xlink:title="transaction_mode_list">
            <rect x="183" y="113" width="160" height="32"></rect>
            <rect x="181" y="111" width="160" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="191" y="131">transaction_mode_list</text>
         </a>
         <a xlink:href="sql-grammar.html#generic_set" xlink:title="generic_set">
            <rect x="45" y="157" width="94" height="32"></rect>
            <rect x="43" y="155" width="94" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="53" y="175">generic_set</text>
         </a>
         <rect x="45" y="201" width="52" height="32" rx="10"></rect>
         <rect x="43" y="199" width="52" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="53" y="219">TIME</text>
         <rect x="117" y="201" width="56" height="32" rx="10"></rect>
         <rect x="115" y="199" width="56" height="32" class="terminal" rx="10"></rect>
         <text class="terminal" x="125" y="219">ZONE</text>
         <a xlink:href="sql-grammar.html#zone_value" xlink:title="zone_value">
            <rect x="193" y="201" width="92" height="32"></rect>
            <rect x="191" y="199" width="92" height="32" class="nonterminal"></rect>
            <text class="nonterminal" x="201" y="219">zone_value</text>
         </a>
         <path class="line" d="m19 17 h2 m0 0 h10 m44 0 h10 m0 0 h10 m82 0 h10 m2 0 l2 0 m2 0 l2 0 m2 0 l2 0 m-198 66 l2 0 m2 0 l2 0 m2 0 l2 0 m22 0 h10 m146 0 h10 m0 0 h10 m38 0 h10 m0 0 h10 m118 0 h10 m0 0 h10 m154 0 h10 m-556 0 h20 m536 0 h20 m-576 0 q10 0 10 10 m556 0 q0 -10 10 -10 m-566 10 v24 m556 0 v-24 m-556 24 q0 10 10 10 m536 0 q10 0 10 -10 m-546 10 h10 m118 0 h10 m0 0 h10 m160 0 h10 m0 0 h218 m-546 -10 v20 m556 0 v-20 m-556 20 v24 m556 0 v-24 m-556 24 q0 10 10 10 m536 0 q10 0 10 -10 m-546 10 h10 m94 0 h10 m0 0 h422 m-546 -10 v20 m556 0 v-20 m-556 20 v24 m556 0 v-24 m-556 24 q0 10 10 10 m536 0 q10 0 10 -10 m-546 10 h10 m52 0 h10 m0 0 h10 m56 0 h10 m0 0 h10 m92 0 h10 m0 0 h276 m23 -132 h-3"></path>
         <polygon points="599 83 607 79 607 87"></polygon>
         <polygon points="599 83 591 79 591 87"></polygon>
      </svg>